.container{
background-color: red;
width:80%;
margin:auto;
position:relative;
}

.child1{

width:40%;
height: 200px;
vertical-align:top;
position:absolute;

}

.child2{

width:40%;
height: 200px;
vertical-align:top;
position:absolute;


}

.child1.left{top:0;
	left:0;}

.child2.right{top:0;
	right:0;}